* {
    box-sizing: border-box;
    font-family: 'Ubuntu Light', 'Century Gothic', sans-serif;
    margin: 0;
    padding: 0;
    color: #2d22d0;
    background-color: #FFF;
}

body {
    padding-top:10px;
}