.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100vh;
}

.login-form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #f4f6fc;
}

.logo-side {
    background-color: #0000ff;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    width: 50%
}

@media (max-width: 768px) {
    .container {
        grid-template-columns: 1fr;;
    }

    .logo-side {
        display: none;
    }
}